<?xml version='1.0' encoding='utf-8'?>
<plugin id="@spoonconsulting/cordova-plugin-volume-buttons" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>cordova-plugin-volume-buttons</name>
    <js-module name="volumebuttons" src="www/CDVVolumeButtons.js">
        <clobbers target="navigator.volumebuttons" />
    </js-module>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="CDVVolumeButtons">
                <param name="ios-package" value="CDVVolumeButtons" />
            </feature>
        </config-file>
        <source-file src="src/ios/CDVVolumeButtons.m" />
        <framework src="JPSVolumeButtonHandler" type="podspec" spec="~> 1.0" />
    </platform>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="cordova-plugin-volume-buttons">
                <param name="android-package" value="@spoonconsulting/cordova-plugin-volume-buttons.cordova-plugin-volume-buttons" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <source-file src="src/android/cordova-plugin-volume-buttons.java" target-dir="src/@spoonconsulting/cordova-plugin-volume-buttons/cordova-plugin-volume-buttons" />
    </platform>
</plugin>
