<?xml version='1.0' encoding='utf-8'?>
<plugin id="@spoonconsulting/cordova-plugin-volume-buttons" version="1.0.2" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>cordova-plugin-volume-buttons</name>
    <js-module name="volumebuttons" src="www/CDVVolumeButtons.js">
        <clobbers target="navigator.volumebuttons" />
    </js-module>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="CDVVolumeButtons">
                <param name="ios-package" value="CDVVolumeButtons" />
            </feature>
        </config-file>
        <source-file src="src/ios/CDVVolumeButtons.m" />
        <framework spec="1.0.2" src="JPSVolumeButtonHandler@SpoonConsulting" type="podspec" />
    </platform>
</plugin>
